.sidebar {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top left, hsl(270, 6%, 13%), hsl(270, 7%, 21%));
}

:is(.search input,.sidebar > button){
  margin:10px;
  background-color: black;
  outline: white 1px solid;
  border: none;
  color: white;
  font-size: 16px;
}

:is(.sidebar button:active,.highlight) {
  filter:invert();
}

.notes {
  flex:1;
  list-style: none;
  margin:0;
  padding:0;
}

.notes button {
  background: black;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  padding:5px;
}

.notes li {
  display: flex;
}

.notes li :first-child {
  flex:1;
}

.notes li:not(:last-child) {
  border-bottom: 1px solid white;
}

.content {
  flex:1;
  height: 100vh;
  overflow-y: scroll;
}