:is(:root,button) {
  font-family: 'Courier New', Courier, monospace;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top left, hsl(270, 6%, 13%), hsl(270, 7%, 21%));
}

.search input {
  width:150px;
}

:is(.search input,.sidebar > button){
  margin:10px;
  background-color: black;
  outline: white 1px solid;
  border: none;
  color: white;
  font-size: 16px;
}

:is(.sidebar button:active,.highlight) {
  filter:invert();
}

.notes {
  flex:1;
  list-style: none;
  margin:0;
  padding:0;
}

.notes button {
  background: black;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  padding:5px;
}

.notes li {
  display: flex;
}

.notes li :first-child {
  flex:1;
}

.notes li:not(:last-child) {
  border-bottom: 1px solid white;
}

.content {
  flex:1;
  height: 100vh;
  overflow-y: scroll;
  color: white;
  background-color: black;
  padding-left:50px;
}

textarea {
  background-image: linear-gradient(to top left, hsl(282, 30%, 14%),hsl(282, 20%, 20%));
  color: white;
  padding:10px;
  font-size: 16px;
  resize: none;
  width: calc(100% - 50px);
  box-sizing: border-box;
}

dialog {
  padding: 0;
}

dialog div {
  padding: 20px;
  background-image: linear-gradient(to top left, hsl(270, 6%, 13%), hsl(270, 7%, 21%));
  border:1px solid white;
}
dialog button {
   margin-left: 5px;
   color: white;
   background-color: black;
   border: 1px solid white;
}

dialog button:active {
  filter: invert();
}

@media (max-width:700px) {
  #root {
    flex-direction: column;
  }
  .sidebar {
    height: 20vh;
    overflow-y: scroll;
  }

  textarea {
    width: 100%;
  }

  .content {
    padding: 0;
  }

  h1 {
    margin-left: 20px;
  }
}