.hidden {
    display: none;
}

.note {
    width: calc(50ch + 23px);
}

.text {
    animation-name: reveal;
    animation-duration: 1s;
    overflow-y: hidden;
}

textarea {
    resize: none;
}

@keyframes reveal {
    from {opacity: 0;}
    to {opacity: 100%;}
}